@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi+2:600|Nunito&display=swap');
/* Font families: Baloo Thambi 2 and Nunito */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #b0b0b0;
}

html,body {
  height: 100%;
  overflow-y: hidden;
}

body {
  background: #1f2f45;
  font-family: 'Nunito', sans-serif;
  color: #d6d6d6;
}

/* Title Properties and Animation */
h1  {
  font-family: 'Baloo Thambi 2',cursive;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 80px;
  cursor: default;
  position: absolute;
  color: transparent;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 5;
}
h1 span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  color: #d6d6d6;
  transition: 0.5s;
  clip-path: polygon(0 0, 100% 0, 100% 51%, 0 51%);
  overflow: hidden;
  text-shadow: 0px -5px 10px rgba(255, 255, 255, 0.1),
    0px 10px 15px rgba(0, 0, 0, 0.4);
}
h1:hover span:nth-child(1) {
  transform:translateY(-18px);
}
h1 span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #d6d6d6;
  transition: 0.5s;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  overflow: hidden;
  text-shadow: 0px -5px 10px rgba(255, 255, 255, 0.1),
    0px 10px 15px rgba(0, 0, 0, 0.4);
}
h1:hover span:nth-child(2) {
  transform:translateY(18px);
}
h1 span:nth-child(3) {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-10%) scaleY(0);
  opacity: 0;
  width: 91%;
  color: #1f2f45;
  background: #d6d6d6;
  font-size: 0.25em;
  font-weight: 500;
  letter-spacing: 0.7em;
  text-align: center;
  padding-left: 15px;
  margin-left: 20px;
  transition: 0.5s;
}
h1:hover span:nth-child(3) {
  transform: translateY(-10%) scaleY(1);
  opacity: 1;
}


/* Secondary headings */
h2 {
  font-family: 'Baloo Thambi 2',cursive;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 3px;
  text-align: right;
  margin-right: 8%;
  text-shadow: 0px -3px 7px rgba(255, 255, 255, 0.2),
    0px 10px 15px rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.rightp {
  text-align: right;
  margin-top: 10px;
}

/* Center Horizontal Vertical */
.center-hv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Main Page Content Properties */
.page {
  height: 100%;
  background-color: #d6d6d6;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.content {
  height: 50%;
  transform-origin: top left;
  transition: transform 0.7s cubic-bezier(1,0.005,0.24,1);
  z-index: 10;
}

.content-inner {
  background-color: #1f2f45;
  height: 200%;
  overflow-y: auto;
  z-index: 5;
}

.inner-lower-bg {
  position: relative;
  overflow: hidden;
  margin-top: -0.7px;
  height: 100rem;
  width: 100%;
  background-color: #1f2f45;
  z-index: 10;
}



/* NavBar Toggler Properties */
.menu-toggle {
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  cursor: pointer;
  width: 100px;
  height: 80px;
  background-color: #d6d6d6;
  box-shadow: 0px -5px 15px rgba(255, 255, 255, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 100%;
}
.menu-toggle:active i{
  opacity: 0.8;
}
.menu-toggle i{
  color: #1f2f45;
}
.menu-toggle .menu-open, .menu-toggle .menu-close {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -12px;
  transition: transform 0.7s cubic-bezier(1,0.005,0.24,1);
}
.menu-toggle .menu-open {
  transform-origin: -100px -100px;
}
.menu-toggle .menu-close {
  transform-origin: -100px -160px;
  transform: rotate(20deg);
}

/* NavBar Menu Items */
.menu-items {
  position: fixed;
  bottom: 0;
  left: 50px;
  left: 6vh;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-items li {
  height: 60px;
  height: 8vh;
  margin-bottom: 30px;
  margin-bottom: 3vh;
  transform: translateX(-300px);
  transition: transform 0.7s cubic-bezier(1,0.005,0.24,1);
}
.menu-items li:nth-child(2) {
  margin-left: 30px;
  /* margin-left: 2vw; */
}
.menu-items li:nth-child(3) {
  margin-left: 60px;
  /* margin-left: 4vw; */
}
.menu-items li:nth-child(4) {
  margin-left: 90px;
  /* margin-left: 6vw; */
}
.menu-items a {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1f2f45;
  transition: color 0.2s;
}
.menu-items a .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -33px;
  margin-top: -33px;
  border-radius: 100%;
  border: 2px solid #1f2f45;
  transition: border-color 0.2s;
}
.menu-items a:hover {
  color:#253852;
}

/* Rotating Page and Item Animations */
.real .content {
  transform:rotate(-30deg);
}
.real .menu-open {
  transform:rotate(-20deg);
}
.real .menu-close {
  transform:rotate(0);
}
.real .menu-items li {
  transform: translateX(0);
  transition: transform 0.35s 0.45s cubic-bezier(0.175,0.885,0.32,1.275);
}
.real .menu-items li:nth-child(2) {
  transition-delay: 0.47s;
}
.real .menu-items li:nth-child(3) {
  transition-delay: 0.50s;
}
.real .menu-items li:nth-child(4) {
  transition-delay: 0.54s;
}

/* Shapes and Shadows */
.circle {
  position: absolute;
  width: 5rem;
  height: 5rem;
  border: 4px solid #1f2f45;
  border-radius: 50%;
}

.box {
  position: absolute;
  width: 20rem;
  height: 8rem;
  border: 4px solid #1f2f45;
  border-radius: 5%;
}

.neu-shadow {
  background: #1f2f45;
  box-shadow: 0px -5px 15px rgba(255, 255, 255, 0.05),
    inset 0px -5px 15px rgba(255, 255, 255, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.4),
    inset 0px 15px 25px rgba(0, 0, 0, 0.4);
  border: 2px solid #273a54;
}

.neu-shadow-img {
  box-shadow: 0px -5px 15px rgba(255, 255, 255, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.4);
  border: 2px solid #273a54;
}

.box-text {
  color: #d6d6d6;
  font-size: 20px;
}

.pressed {
  cursor: pointer;
  background: #192739;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.05),
    inset 0px -5px 15px rgba(0, 0, 0, 0.05),
    0px 10px 20px rgba(0, 0, 0, 0.4),
    inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  border: 2px solid #192739;
}

.unpressed {
  cursor: pointer;
  background: #1f2f45;
  box-shadow: 0px -5px 15px rgba(255, 255, 255, 0.05),
    inset 0px -5px 15px rgba(255, 255, 255, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.4),
    inset 0px 15px 25px rgba(0, 0, 0, 0.4);
  border: 2px solid #273a54;
}

.unpressed:hover {
  background: #253852;
  box-shadow: 0px -5px 15px rgba(255, 255, 255, 0.05),
    inset 0px -5px 15px rgba(255, 255, 255, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.4),
    inset 0px 15px 25px rgba(0, 0, 0, 0.4);
}

/* Main Page Sections */
.title-section {
  position: relative;
  height: 120px;
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 0;
}

.card-section {
  position: relative;
  margin: 0 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-card {
  text-align: center;
  padding: 18px 0;
  margin: 25px 10px 25px;
}

.card-icon {
  position: relative;
  margin-top: 20px;
}

.card-desc {
  position: relative;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  margin-top: 20px;
}

/*Sub sections*/
.description {
  margin: 3% 12%;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.description-heading {
  margin-right: 5%;
}

/* About */
.tomo-img {
  position: relative;
  float: left;
  width: 14%;
  min-width: 150px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
  box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.05),
  0px 10px 20px rgba(0, 0, 0, 0.4);
  border: 2px solid #273a54;
}

/* Projects */
.project-card-holder {
  margin: 25px 0;
}

.left-pc {
  margin-left: 15px;
}
.right-pc {
  margin-right: 15px;
}

.project-card {
  background: #1f2f45;
  box-shadow: 0px -5px 10px rgba(255, 255, 255, 0.04),
    0px 15px 20px rgba(0, 0, 0, 0.4);
  border: 3px solid #1927394;
}

.project-card:hover {
  background: #253852;
  box-shadow: 0px -5px 15px rgba(255, 255, 255, 0.05),
    0px 15px 25px rgba(0, 0, 0, 0.4);
}

.modal-t {
  color: #121212;
}
.modal-p {
  padding-top: 12px;
  color: #121212;
  text-align: center;
}

/* Jobs */
.job-text {

}

/* Social */
.social-col {
  text-align: center;
  padding: 6% 5% 5%;
}

.social-text {
  padding-top: 10px;
  text-shadow: 0px -5px 10px rgba(255, 255, 255, 0.2),
    0px 10px 15px rgba(0, 0, 0, 0.5);
}

.stinky-a-tag {
  color: #d6d6d6;
}
.stinky-a-tag:hover {
  color: white;
}

/* Contact */
.bg2 {
  background-color: #d6d6d6;
}


/* Page Bottom */
.page-bottom {
  position: relative;
  height: 110px;
}

.surprise-text {
  margin-left: 20%;
  font-family: 'Baloo Thambi 2',cursive;
  font-size: 20px;
  margin-top: 10%;
}
